<div class="container">    
    <div class="left_col">
        <p>Coluna esquerda</p>     
        <mat-card>    
            <img class="news-img" mat-card-image src="{{news.image}}" alt="Capa da notícia {{news.title}}">
            <!-- <mat-card-content> -->
                <mat-card-title>
                   {{news.title}}
                </mat-card-title>
                <mat-card-subtitle>
                    {{"Publicado em " + getDate()}}
                </mat-card-subtitle>
              <mat-card-content>
                {{news.body}}
              </mat-card-content>
            <!-- </mat-card-content> -->            
          </mat-card>           
    </div>
    <div class="right_col">
        <p>Coluna direita</p>
        <app-category-list></app-category-list>
        <app-search-bar></app-search-bar>
    </div>
</div>