<mat-card class="card">    
  <img class="card-img" mat-card-image src="{{news.image}}" alt="Capa da notícia {{news.title}}">  
  <mat-card-content class="content">
  <mat-card-title class="title">
      {{news.title}}
  </mat-card-title>
  <mat-card-subtitle class="subtitle">
    {{news.body.split(".")[0] + "."}}
  </mat-card-subtitle>    
</mat-card-content>  
<mat-card-footer class="footer">
  <mat-card-actions>
    <button mat-button routerLink="/news/{{news.id}}" class="button_flat">Ler mais</button>      
  </mat-card-actions>
</mat-card-footer>
</mat-card>
