<div class="container">    
    <div class="left_col">
        <p>Coluna esquerda</p>
        <mat-grid-list cols="2">
            <mat-grid-tile><app-card></app-card></mat-grid-tile>
            <mat-grid-tile><app-card></app-card></mat-grid-tile>
            <mat-grid-tile><app-card></app-card></mat-grid-tile>
            <mat-grid-tile><app-card></app-card></mat-grid-tile>
          </mat-grid-list>
    </div>
    <div class="right_col">
        <p>Coluna direita</p>
        <app-category-list></app-category-list>
        <app-search-bar></app-search-bar>
    </div>
</div>