<app-header></app-header>
<div class="container">    
    <div class="left_col">
        <p>Coluna esquerda</p>
        
        <mat-card class="card">    
            
            <mat-card-title>
               Mande sua notícia
            </mat-card-title>
            <mat-card-content>
              <mat-form-field appearance="fill">
                <mat-label>Título</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Url da imagem</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Conteúdo</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Enviar</button>      
            </mat-card-actions>
          </mat-card>
        

    </div>
    <div class="right_col">
      <app-right-col></app-right-col>
    </div>
</div>