<div class="container">    
    <div class="left_col">
        <p>Coluna esquerda</p>
        
        <mat-card class="card">    
            
            <mat-card-title>
               Mande sua notícia
            </mat-card-title>
            <mat-card-content>
             <!--Formulário-->
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Enviar</button>      
            </mat-card-actions>
          </mat-card>
        

    </div>
    <div class="right_col">
        <p>Coluna direita</p>
        <app-category-list></app-category-list>
        <app-search-bar></app-search-bar>
    </div>
</div>